<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sua Página</title>
  <style>
      body {
          background-image: url('https://raw.githubusercontent.com/AngeloSouza1/tmp/main/3215425.jpg');
          background-size: cover;
          background-repeat: no-repeat;
      }
  </style>
</head>
<body>
<div id="objeto"></div>
<%= javascript_include_tag 'mover_objeto' %>
</body>
</html>
