/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#objeto {
    width: 55px; /* Defina o tamanho do GIF */
    height: 55px; /* Defina o tamanho do GIF */
    position: absolute;
    background-image: url('https://media.giphy.com/media/hof5uMY0nBwxyjY9S2/giphy.gif');
    /*background-image: url('https://media.giphy.com/media/l41lUjUgLLwWrz20w/giphy.gif'); */
    background-size: cover;
    background-repeat: no-repeat;
}


.objeto-adicional {
    position: absolute;
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    background-image: url('https://www.imagensanimadas.com/data/media/280/estrela-imagem-animada-0017.gif');
    background-size: cover;
    cursor: pointer; /* Torna o cursor em um ponteiro ao passar o mouse */
    background-color: transparent; /* Remove o fundo branco */
}

.asteroide {
    width: 145px;
    height: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}



@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}


.pontuacao {
    font-family: 'Press Start 2P', sans-serif;
    color: yellow; /* Define a cor do texto como amarelo */
    background-color: rgba(1, 6, 40, 0.97); /* Define o fundo como preto */
    border: 2px solid red; /* Adiciona uma borda vermelha */
    padding: 5px; /* Adiciona um preenchimento interno para dar espaço ao texto */
    font-size: 18px; /* Define o tamanho da fonte como 18 pixels */

    /* Adiciona um GIF de estrela como plano de fundo */
    background-image: url('https://media.giphy.com/media/KEexxjxK16lBoE162o/giphy.gif');
    background-size: 30px auto; /* Ajusta o tamanho do GIF para caber na div */
    background-repeat: no-repeat; /* Evita que o GIF se repita */
    background-position: left center; /* Define a posição do GIF (à esquerda do texto) */
    padding-left: 45px; /* Adiciona um preenchimento à esquerda para separar o GIF do texto */
}


.mensagem-final {
    font-family: 'Press Start 2P', sans-serif;
    position: fixed;
    border: 2px solid #fd5252; /* Adiciona uma borda vermelha */
    padding: 5px; /* Adiciona um preenchimento interno para dar espaço ao texto */
    background-color: rgba(1, 6, 40, 0.97);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-align: center; /* Centraliza o texto horizontalmente */

    /* Adiciona um GIF acima do texto */
    position: relative; /* Define o posicionamento relativo para permitir posicionamento do pseudo-elemento */
    padding-top: 100px; /* Espaçamento acima do texto para exibir o GIF */
}

.mensagem-final::before {
    content: ""; /* Adiciona um conteúdo vazio antes do texto */
    display: block; /* Faz com que o conteúdo seja exibido como um bloco */
    position: absolute; /* Define o posicionamento absoluto para o elemento */
    top: -100px; /* Posiciona o GIF acima do texto */
    left: 50%; /* Centraliza o GIF horizontalmente */
    transform: translateX(-50%); /* Centraliza o GIF horizontalmente */
    background-image: url('https://media.giphy.com/media/KEexxjxK16lBoE162o/giphy.gif'); /* Define o GIF como plano de fundo */
    background-size: 250px auto; /* Ajusta o tamanho do GIF para caber na div */
    background-repeat: no-repeat; /* Evita que o GIF se repita */
    width: 250px; /* Define a largura do GIF */
    height: 250px; /* Define a altura do GIF */
}


}
