/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#objeto {
    width: 65px; /* Defina o tamanho do GIF */
    height: 65px; /* Defina o tamanho do GIF */
    position: absolute;
    background-image: url('https://media.giphy.com/media/hof5uMY0nBwxyjY9S2/giphy.gif');
    /*background-image: url('https://media.giphy.com/media/l41lUjUgLLwWrz20w/giphy.gif'); */
    background-size: cover;
    background-repeat: no-repeat;
}


.objeto-adicional {
    position: absolute;
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    /*background-image: url('https://www.imagensanimadas.com/data/media/280/estrela-imagem-animada-0103.gif');*/
    background-image: url('https://www.imagensanimadas.com/data/media/280/estrela-imagem-animada-0017.gif');
    background-size: cover;
    cursor: pointer; /* Torna o cursor em um ponteiro ao passar o mouse */
    background-color: transparent; /* Remove o fundo branco */
}

.asteroide {
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}


